<div class="container" [hidden]="submitted">
    <h1><b>Add new Question</b></h1>
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
            <div class="col-md-4 mb-3">
                <label for="id">ID</label>
                <input type="text" class="form-control"  id="id_Question" required [(ngModel)]="question.id_Question" name="id_Question">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="prenom">Question</label>
                <input type="text" class="form-control"  id="question" required [(ngModel)]="question.question" name="question">
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
        
        <button class="btn-hover color-1" type="submit">Submit</button>
    </form>
</div>
