<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="card-Table">
        <div class="card">
          <div class="card-header card-header-danger" id="title-Table">
            <h3 class="card-title" id="titre">Condidats Table</h3><br>
          </div>
          <div class="card-body" >
            <div class="table-responsive" >
              <table mat-table matSort [dataSource]="dataSource!" class="table">
                <ng-container matColumnDef="id_Interview">
                  <th  mat-header-cell mat-sort-header *matHeaderCellDef > id </th>
                  <td mat-cell *matCellDef="let element" > {{element.id_Interview}} </td>
                </ng-container>
                <ng-container matColumnDef="user">
                  <th mat-header-cell  *matHeaderCellDef > Condidat Name </th>
                  <td mat-cell *matCellDef="let element">
                     <a  id="LienDetails" (click) ="DetailsCondidat(element)">
                      {{element.user?.nom}} {{element.user?.prenom}}
                    </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="offre">
                  <th mat-header-cell *matHeaderCellDef> Offre </th>
                  <td mat-cell *matCellDef="let element">
                    <a  id="LienDetails" (click) ="DetailsOffer(element)">
                      {{element.offre.titre}}
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                  <a (click) ="deleteCondidat(element)" class="delete" style="cursor: pointer;" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

               </table>
               <mat-paginator #paginator
                              [pageSize]="2"
                              [pageSizeOptions]="[2, 3, 5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
