#card-Table{
  padding-left: 97px;
  padding-right: 66px;
  padding-top: 27px;
  padding-bottom: 20px;
}

#LienDetails:hover{
  text-decoration: #fc9209 wavy underline;
  cursor: pointer;

}

#entete-Table{
  color: #fc9209;
  font-family: comic sans ms;
font-size: 15px;
}

.card{
  box-shadow:0 0 70px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
}

table.table td a.delete {
	color: #F44336;
}
#title-Table{
  border-radius: 10px;
  background-color: #fc9209;
  width: 1170px;
  left: 13px;
  bottom: 29px;
  margin-top: 14px;
  color: aliceblue;
}

#titre{
  font-size: 31px;
  font-family: comic sans ms;
}
