
<body style="text-align: center;" >
<div class="container"  >
<h2>Interview Details</h2> 

<div>
<div *ngIf="interview">
<div class="form-group">
        <label>ID : </label> {{interview.id_Interview}}
</div>
<div class="form-group">
    <label>Interview Date :</label> {{interview.interviewDate}}
</div>
<div class="form-group">
    <label>Interview Time :</label> {{interview.time}}
</div>
<div class="form-group">
    <label>Interview Type :</label> {{interview.interviewType}}
</div>
<div class="form-group">
    <label>Location : </label> {{interview.location}}
</div>
					
<div>
    <button (click)="list()" class="btn btn-success">Back to Interviews List</button>
</div>
</div>
</div>
