/* .card {
    padding: 30px 40px;
    margin-top: 50px;
    width: 790px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
} */

#modal-title{
    color: #2caf8e;
    font-family: comic sans ms;


  }
  .ContenuCard{
    width: 500px;
  }

