 <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
 <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
 <script src="node_modules/chart.js/src/chart.js"></script>

<!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->

          <!-- /.row -->
          <!-- Main row -->
          <div class="row">
            <section class="content">
                <div class="container-fluid">
                  <!-- Small boxes (Stat box) -->
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-info">
                        <div class="inner">
                          <h3>150</h3>

                          <p>Project</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-ios-list-outline"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-success">
                        <div class="inner">
                          <h3>{{somEmpl}}</h3>

                          <p>Employees</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-person-stalker"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-warning">
                        <div class="inner">
                          <h3>{{somCond}}</h3>

                          <p>Condidats</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-danger">
                        <div class="inner">
                          <h3>{{somInter}}</h3>

                          <p>Interviews</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-ios-calendar-outline"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                  </div>
                  <!-- /.row -->
                  <!-- Main row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h2 class="card-title">Monthly Recap Report</h2>

                          <!-- <tr *ngFor="let l of list ">
                            <td>{{l}}</td>
                          </tr>  -->

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Separated link</a>
                              </div>
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <p class="text-center">
                                <strong>Sales: 1 Dec, 2021 - 1 Jan, 2022</strong>
                              </p>

                              <div class="chart">


                                <ngx-charts-bar-vertical  [view]="[600,350]" scheme="cool" [results]="data"
                                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"   [scheme]="colorScheme" >
                              </ngx-charts-bar-vertical>

                                <!-- <ngx-charts-pie-grid
                                [view]="[600,300]"
                                [results]="data"
                                [scheme]="colorScheme" >
                              </ngx-charts-pie-grid> -->

                              <!-- <div class="col-sm-3 col-6"> -->
                                <ngx-charts-pie-grid
                                [view]="[600,300]"
                                [results]="data"
                                [scheme]="colorScheme" >
                              </ngx-charts-pie-grid>
                      <!-- </div> -->

                                <!-- Sales Chart Canvas -->
                                <!-- <div id="main" height="480" style="height: 480px;"></div> -->
                                <!-- <canvas id="salesChart" height="180" style="height: 180px;"></canvas> -->
                              </div>
                              <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">

                              <div id="time" style="height: 385px;width:350px;margin-top:-70px;margin-right:-80px;margin-bottom:-50px;overflow: hidden"></div>

                              <p class="text-center">
                                <strong>Goal Completion</strong>
                              </p>

                              <div class="progress-group" style="margin-top:100px">
                                Interviews
                                <span class="float-right"><b>160</b>/200</span>
                                <div class="progress progress-sm">
                                  <div class="progress-bar bg-primary" style="width: 80%"></div>
                                </div>
                              </div>
                              <!-- /.progress-group -->

                              <div class="progress-group">
                                Projects
                                <span class="float-right"><b>310</b>/400</span>
                                <div class="progress progress-sm">
                                  <div class="progress-bar bg-danger" style="width: 75%"></div>
                                </div>
                              </div>

                              <!-- /.progress-group -->
                              <div class="progress-group">
                                <span class="progress-text">Employees</span>
                                <span class="float-right"><b>480</b>/800</span>
                                <div class="progress progress-sm">
                                  <div class="progress-bar bg-success" style="width: 60%"></div>
                                </div>
                              </div>

                              <!-- /.progress-group -->
                              <div class="progress-group">
                                Cv
                                <span class="float-right"><b>250</b>/500</span>
                                <div class="progress progress-sm">
                                  <div class="progress-bar bg-warning" style="width: 50%"></div>
                                </div>
                              </div>
                              <!-- /.progress-group -->


                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">
                          <div class="row">
                            <div class="col-sm-3 col-6">
                              <div class="description-block border-right">
                                <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">{{somEmpl}}</h5>
                                <span class="description-text">TOTAL EMPLOYEES</span>
                              </div>
                              <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                              <div class="description-block border-right">
                                <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                                <h5 class="description-header">{{somCond}}</h5>
                                <span class="description-text">TOTAL CONDIDATS</span>
                              </div>
                              <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                              <div class="description-block border-right">
                                <span class="description-percentage text-primary"><i class="fas fa-caret-up"></i> 20%</span>
                                <h5 class="description-header">150</h5>
                                <span class="description-text">TOTAL PROJECTS</span>
                              </div>
                              <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-3 col-6">
                              <div class="description-block">
                                <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                                <h5 class="description-header">{{somInter}}</h5>
                                <span class="description-text">TOTAL INTERVIEWS</span>
                              </div>
                              <!-- /.description-block -->
                            </div>
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <!-- Main row -->
                  <div class="row">
                    <!-- Left col -->
                    <div class="col-md-8">
                      <!-- MAP & BOX PANE -->
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">US-Visitors Report</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                          <div class="d-md-flex">
                            <div class="p-1 flex-fill" style="overflow: hidden">
                              <!-- Map will be created here -->
                              <!-- <div id="graph2" style="height: 325px; overflow: hidden">

                                <div class="map"></div>
                              </div> -->

                              <ngx-charts-advanced-pie-chart style="padding:30px; overflow: initial !important;"
                              [results]="data"
                              [view]="[700,550]"
                              [gradient]="true"
                              [scheme]="colorScheme" >
                        </ngx-charts-advanced-pie-chart>






                              <!-- <ngx-charts-bar-vertical  [view]="[600,350]" scheme="cool" [results]="data"
                              [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                              [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                              [yAxisLabel]="yAxisLabel"   [scheme]="colorScheme" >
                            </ngx-charts-bar-vertical> -->

                            </div>
                            <div class="card-pane-right bg-light pt-2 pb-2 pl-4 pr-4" style="background-color:black">
                              <div class="description-block mb-4">
                                <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                                <h5 class="description-header">8390</h5>
                                <span class="description-text">Visits</span>
                              </div>
                              <!-- /.description-block -->
                              <div class="description-block mb-4">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">30%</h5>
                                <span class="description-text">Referrals</span>
                              </div>
                              <!-- /.description-block -->
                              <div class="description-block">
                                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                                <h5 class="description-header">70%</h5>
                                <span class="description-text">Organic</span>
                              </div>
                              <!-- /.description-block -->
                            </div><!-- /.card-pane-right -->
                          </div><!-- /.d-md-flex -->
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                      <div class="row">
                        <div class="col-md-6">
                          <!-- DIRECT CHAT -->
                          <div class="card direct-chat direct-chat-warning">
                            <div class="card-header">
                              <h3 class="card-title">Direct Chat</h3>

                              <div class="card-tools">
                                <span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                        data-widget="chat-pane-toggle">
                                  <i class="fas fa-comments"></i></button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                </button>
                              </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <!-- Conversations are loaded here -->
                              <div class="direct-chat-messages">
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                  <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Alexander Pierce</span>
                                    <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                  </div>
                                  <!-- /.direct-chat-infos -->
                                  <img class="direct-chat-img" src="assets/img/user1-128x128.jpg" alt="message user image">
                                  <!-- /.direct-chat-img -->
                                  <div class="direct-chat-text">
                                    Is this template really for free? That's unbelievable!
                                  </div>
                                  <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->

                                <!-- Message to the right -->
                                <div class="direct-chat-msg right">
                                  <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                  </div>
                                  <!-- /.direct-chat-infos -->
                                  <img class="direct-chat-img" src="assets/img/user3-128x128.jpg" alt="message user image">
                                  <!-- /.direct-chat-img -->
                                  <div class="direct-chat-text">
                                    You better believe it!
                                  </div>
                                  <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->

                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                  <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Alexander Pierce</span>
                                    <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                                  </div>
                                  <!-- /.direct-chat-infos -->
                                  <img class="direct-chat-img" src="assets/img/user1-128x128.jpg" alt="message user image">
                                  <!-- /.direct-chat-img -->
                                  <div class="direct-chat-text">
                                    Working with AdminLTE on a great new app! Wanna join?
                                  </div>
                                  <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->

                                <!-- Message to the right -->
                                <div class="direct-chat-msg right">
                                  <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                                  </div>
                                  <!-- /.direct-chat-infos -->
                                  <img class="direct-chat-img" src="assets/img/user3-128x128.jpg" alt="message user image">
                                  <!-- /.direct-chat-img -->
                                  <div class="direct-chat-text">
                                    I would love to.
                                  </div>
                                  <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->

                              </div>
                              <!--/.direct-chat-messages-->

                              <!-- Contacts are loaded here -->
                              <div class="direct-chat-contacts">
                                <ul class="contacts-list">
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user1-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Count Dracula
                                          <small class="contacts-list-date float-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user7-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Sarah Doe
                                          <small class="contacts-list-date float-right">2/23/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">I will be waiting for...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user3-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Nadia Jolie
                                          <small class="contacts-list-date float-right">2/20/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">I'll call you back at...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user5-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Nora S. Vans
                                          <small class="contacts-list-date float-right">2/10/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Where is your new...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user6-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          John K.
                                          <small class="contacts-list-date float-right">1/27/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Can I take a look at...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                  <li>
                                    <a href="#">
                                      <img class="contacts-list-img" src="assets/img/user8-128x128.jpg">

                                      <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                          Kenneth M.
                                          <small class="contacts-list-date float-right">1/4/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Never mind I found...</span>
                                      </div>
                                      <!-- /.contacts-list-info -->
                                    </a>
                                  </li>
                                  <!-- End Contact Item -->
                                </ul>
                                <!-- /.contacts-list -->
                              </div>
                              <!-- /.direct-chat-pane -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                              <form action="#" method="post">
                                <div class="input-group">
                                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                  <span class="input-group-append">
                                    <button type="button" class="btn btn-warning">Send</button>
                                  </span>
                                </div>
                              </form>
                            </div>
                            <!-- /.card-footer-->
                          </div>
                          <!--/.direct-chat -->
                        </div>
                        <!-- /.col -->

                        <div class="col-md-6">
                          <!-- USERS LIST -->
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Latest Members</h3>

                              <div class="card-tools">
                                <span class="badge badge-danger">8 New Members</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                </button>
                              </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                              <ul class="users-list clearfix">
                                <li>
                                  <img src="assets/img/user1-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Alexander Pierce</a>
                                  <span class="users-list-date">Today</span>
                                </li>
                                <li>
                                  <img src="assets/img/user8-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Norman</a>
                                  <span class="users-list-date">Yesterday</span>
                                </li>
                                <li>
                                  <img src="assets/img/user7-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Jane</a>
                                  <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                  <img src="assets/img/user6-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">John</a>
                                  <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                  <img src="assets/img/user2-160x160.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Alexander</a>
                                  <span class="users-list-date">13 Jan</span>
                                </li>
                                <li>
                                  <img src="assets/img/user5-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Sarah</a>
                                  <span class="users-list-date">14 Jan</span>
                                </li>
                                <li>
                                  <img src="assets/img/user4-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Nora</a>
                                  <span class="users-list-date">15 Jan</span>
                                </li>
                                <li>
                                  <img src="assets/img/user3-128x128.jpg" alt="User Image">
                                  <a class="users-list-name" href="#">Nadia</a>
                                  <span class="users-list-date">15 Jan</span>
                                </li>
                              </ul>
                              <!-- /.users-list -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                              <a href="javascript::">View All Users</a>
                            </div>
                            <!-- /.card-footer -->
                          </div>
                          <!--/.card -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                    </div>
                    <!-- /.col -->
<br> <br>
                    <div class="col-md-4" style="margin-top:45px;padding-bottom:50px">
                      <!-- Info Boxes Style 2 -->
                      <div class="info-box mb-3 bg-warning">
                        <span class="info-box-icon"> <i class="ion ion-person-add" style="color: white"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">Condidats</span>
                          <span class="info-box-number">{{somCond}}</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                      <div class="info-box mb-3 bg-success">
                        <span class="info-box-icon"><i class="ion ion-person-stalker"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">Employees</span>
                          <span class="info-box-number">{{somEmpl}}</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->

                      <div class="info-box mb-3 bg-danger" >
                        <span class="info-box-icon"> <i class="ion ion-ios-calendar-outline"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">Interviews</span>
                          <span class="info-box-number">{{somInter}}</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                      <div class="info-box mb-3 bg-info">
                        <span class="info-box-icon"> <i class="ion ion-ios-list-outline"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">Projects</span>
                          <span class="info-box-number">150</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->

                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Browser Usage</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="chart-responsive">
                                <!-- <div id="time" height="150"></div> -->
                              </div>
                              <!-- ./chart-responsive -->
                            </div>

                            <div class="col-md-6">
                            <ngx-charts-pie-chart
                            [view]="[340,200]"
                            scheme="cool"
                            [results]="data"
                            [gradient]="gradient"
                            [legend]="showLegend"
                            [labels]="true"
                            [doughnut]="false"
                            [scheme]="colorScheme"
                            >
                          </ngx-charts-pie-chart>
                        </div>
                            <!-- /.col -->
                            <!-- <div class="col-md-4">
                              <ul class="chart-legend clearfix">
                                <li><i class="far fa-circle text-danger"></i> Chrome</li>
                                <li><i class="far fa-circle text-success"></i> IE</li>
                                <li><i class="far fa-circle text-warning"></i> FireFox</li>
                                <li><i class="far fa-circle text-info"></i> Safari</li>
                                <li><i class="far fa-circle text-primary"></i> Opera</li>
                                <li><i class="far fa-circle text-secondary"></i> Navigator</li>
                              </ul>
                            </div> -->
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer bg-white p-0">
                          <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                United States of America
                                <span class="float-right text-danger">
                                  <i class="fas fa-arrow-down text-sm"></i>
                                  12%</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                India
                                <span class="float-right text-success">
                                  <i class="fas fa-arrow-up text-sm"></i> 4%
                                </span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="#" class="nav-link">
                                China
                                <span class="float-right text-warning">
                                  <i class="fas fa-arrow-left text-sm"></i> 0%
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <!-- /.footer -->
                      </div>
                      <!-- /.card -->

                      <!-- PRODUCT LIST -->

                      <!-- /.card -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div><!--/. container-fluid -->

                  <!-- /.row (main row) -->
              </section>
          </div>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
