.advanced-pie-legend .legend-items-container .legend-items {
    overflow: initial !important;
    padding:30px;
  }

  .advanced-pie-legend {
    width: 15rem !important;
    height: 15rem !important;
}

.advanced-pie-legend.legend-items-container.legend-items.legend-item .item-value {
  margin-top: 10px !important;
}

.advanced-pie-legend .legend-items-container .legend-items.legend-item .item-value {
  margin-top: 10px !important;
  font-size:24px;
  margin-top:-10px;
  margin-left:11px;
}

.item-percent ng-star-inserted{
  margin-top: 10px !important;
  font-size:24px;
  margin-top:-10px;
  margin-left:11px;
}