<div class="container" *ngIf="OneOffer">
    <h1>Postuler dans : {{OneOffer.titre}}</h1>
  <form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Nom</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="nom" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">Prénom</label>
        <input type="text" class="form-control" id="validationTooltip02" placeholder="prénom" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
          </div>
          <input type="email" class="form-control" id="validationTooltipUsername" placeholder="email@example.com"
            aria-describedby="validationTooltipUsernamePrepend" required>
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Adresse</label>
        <input type="text" class="form-control" id="validationTooltip03" placeholder="adress" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">CIN</label>
        <input type="text" class="form-control" id="validationTooltip04" placeholder="Num CIN"
          required>

        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">Téléphone</label>
        <input type="text" class="form-control" id="validationTooltip05" placeholder="Num téléphone" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
        <div class="valid-tooltip">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Votre Cv...</label>
          <div class="invalid-tooltip">
            Please choose a unique and valid username.
          </div>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
      </div>
    </div>

    <div id="btn">
      <button type="button" (click)="onRevenir(OneOffer)" id="btnClose" class="btn btn-success">Détails Offre</button>
      <button type="button" (click)="onClose()" id="btnClose" class="btn btn-danger">Annuler</button>
      <button class="btn btn-primary" type="submit">Postuler</button>
    </div>
  </form>
</div>
