       <div class="container" [hidden]="submitted">
        <h1><b>Add a new Interview</b></h1>
        <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="prenom">Id</label>
                    <input type="text" class="form-control"  id="id_Interview" required [(ngModel)]="interview.id_Interview" name="id_Interview">
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="pseudo">Interview type</label>
                    <select type="text" class="form-select" id="interviewType" required [(ngModel)]="interview.interviewType" name="interviewType" required>
                      <option value="technique">technique</option>
                      <option value="téléphonique">téléphonique</option>
                      <option value="RH">RH</option>
                      </select>
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="interview date">Interview Time </label>
                    <input type="time" class="form-control" id="time" required [(ngModel)]="interview.time" name="time">
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="interview date">Interview date </label>
                    <input type="date" class="form-control" id="interviewDate" required [(ngModel)]="interview.interviewDate" name="interviewDate">
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="ville">location</label>
                    <select type="text" class="form-select"  id="email" required [(ngModel)]="interview.location" name="location">
                      <option value="physicall">physicall</option>
                      <option value="virtual">virtual</option>
                    </select>
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                <div class="container">
                <mat-form-field appearance="outline">
                    <mat-label>Interview date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                
                    <!-- <mat-form-field appearance="outline">
                      <mat-label>Interview Time</mat-label>
                      <input matTimepicker #t="matTimepicker"  [strict]="false" id="timepicker-example" mode="24h" name="time">
                         <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>
                    </mat-form-field> -->
                  </div>
            </div>
            <button class="btn-hover color-7" type="submit">Submit</button>
        </form>
    </div>
