#body {
  background-image:url("src/assets/imageNoteFound 1.jpg");
  height: 663px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#btn{
  margin-left: 611px;
  margin-top: 548px;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 5px;
}
