<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="/css/fontawesome-free-5.15.1-web/css/all.css">
<div style="background-color: #c5cccb; height: 100%;">
<div class="container contact">
	<div class="column">
    <div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contact Us</h2>
				<h4>We would love to hear from you !</h4>
                <p>Adresse : 12-14 Rond-Point RMS Building, Z.I Chotrana II, Ariana 2036</p>
                <p>         Tél : (+216) 70 116 102</p>
                <p> E-mail : contact_fr@rms-corporation.com</p>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">First Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Last Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Comment:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
    <div>
            <footer class="text-center text-lg-start" style="background-color: #ccc1bb;">
              <div class="text-center text-white p-3" style="background-color: #c5cccb;  width: 100%;">
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/feed/"><i  class="fa fa-linkedin fa-lg"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/"><i  class="fa fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://mail.google.com/mail/u/0/"><i  class="fa fa-envelope"></i></a>   
              </div>
            </footer>
     </div>
    </div>    
</div>

</div>
