<app-navbar></app-navbar>
<div class="body">
  <div class="container contact" [hidden]="submitted">

    <div class="column">
      <div class="row">
        <div class="col-md-3" style="background-color: #f0bf85;">
          <div class="contact-info">
            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
            <h2>Contact Us</h2>
            <h4>We would love to hear from you !</h4>
            <p>Adresse : 12-14 Rond-Point RMS Building, Z.I Chotrana II, Ariana 2036</p>
            <p> Tél : (+216) 70 116 102</p>
            <p> E-mail : contact_fr@rms-corporation.com</p>
          </div>
        </div>
        <div class="col-md-9" style="background-color: #4d9096;">
          <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label col-sm-2" for="fname">First Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="contact.nom"  name="nom" >
              </div>
            </div>
            <div  class="form-group">
              <label class="control-label col-sm-2" for="lname">Last Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="prenom" placeholder="Enter Last Name" [(ngModel)]="contact.prenom"  name="prenom">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="contact.email"  name="email">

              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="comment">Comment:</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="5" [(ngModel)]="contact.comment"  name="comment" placeholder="Please tap your comment here .."></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger"  style="margin-left: 500px; " >  Submit</button>
              </div>
              </div>
          </form>
            </div>
        </div>
      </div>
      <div>
        <footer class="text-center text-lg-start" style="background-color: #ccc1bb;width:100%">
          <div class="text-center text-white"  style="margin-top:5px; background-color: #ffffff;">
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/">
              <i class="fab fa-facebook-f fa-lg" ></i></a>
            <a class="btn btn-dark btn-social mx-2"
              href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D">
              <i class="fab fa-twitter fa-lg" ></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/feed/">
              <i class="fab fa-linkedin fa-lg" style="background-color: #728ad7;"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/">
              <i class="fab fa-instagram fa-lg" style="background-color: #728ad7;"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://mail.google.com/mail/u/0/">
              <i class="fa fa-envelope fa-lg" style="background-color: #728ad7;"></i></a>
          </div>
        </footer>
      </div>
    </div>
  </div>


