<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <img style="max-width:71px;margin-top :-7px;" src="assets/logos.png">
  </span>
  <div fxLayout="row">
    <a mat-button routerLink="/">
      <mat-icon>home

      </mat-icon> Accueil
    </a>
    <a mat-button routerLink="/contact">
      <mat-icon>perm_contact_calendar</mat-icon>
      Contact
    </a>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false">
      <mat-icon>info</mat-icon>
      A propos
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/apropos">
        <mat-icon>info</mat-icon>
        A propos
      </button>

      <button mat-menu-item routerLink="/equipe">
        <mat-icon>group</mat-icon>
        équipe
      </button>
      <button mat-menu-item routerLink="/service">
        <mat-icon>local_laundry_service</mat-icon>
        Services
      </button>
    </mat-menu>

  </div>
  <button type="button" class="btn btn-outline-info" mat-menu-item routerLink="/login" style="margin-left: 590px;color:white"> Login</button>
</mat-toolbar>

