<app-navbar></app-navbar>
<!-- About-->


<section class="page-section bg-light" id="about">
  <div id="sect1" class="container" >       
  
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase" style="font-weight: bold;
      color: black;">A propos</h2>
      <h3 class="section-subheading text-muted" >Votre satisfaction notre objectif</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/5.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Nov 2021 </h4>
            <h4 class="subheading">Nos humbles débuts</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">"Recrutment Management System" a été créée en 14 Novembre 2021 par Maryam Mokdad,
              Hanin Ben Jemaa et Nour Guerfali avec l’envie de faciliter le processus d’embauche pour les candidats(e)s
              et le recruteur, il devient plus rapide .
              Dans un univers où il existe plusieurs étapes à suivre pour un seul recrutement. Toutes ces étapes
              prennent beaucoup de temps à votre responsable RH. la rectification d’une annonce peut se faire
              directement dès que l’erreur est remarquée.
              Maryam Mokdad, Hanin Ben Jemaa et Nour Guerfali ont mis leurs compétences et toute leur énergie pour
              satisfaire vos besoins</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/6.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Décembre 2021</h4>
                        <h4 class="subheading">Pourquoi developer un RMS </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Réduisez les tâches de routine telles que la planification des entretiens en automatisant votre logiciel de recrutement et libérez votre emploi du temps pour des activités plus urgentes. Les systèmes de gestion du recrutement en ligne créent un processus de candidature unique pour les demandeurs d'emploi. À l'aide d'un système de suivi des candidats (ATS) et d'un logiciel de gestion des relations avec les candidats (CRM), un recruteur peut augmenter sa base de données clients et offrir une meilleure expérience globale aux candidats.</p></div>
                </div>
        </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Faire Partie
            <br />
            De Notre
            <br />
            Histoire!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>

