<app-navbar></app-navbar>
<!-- About-->


<section class="page-section" style="background-color: #EBF5FB ;" id="about">
  <div id="sect1" class="container" >

  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase" style="font-weight: bold;
      color: rgba(0, 0, 0, 0.925);">About Us </h2>
      <h3 class="section-subheading text-muted" >Your satisfaction is our goal</h3>
    </div>
    <ul class="timeline" >
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/5.jpg" alt="..." /></div>
        <img  style="width: 529px;margin-left: 124px;height: 486px;" src="../../assets/photos/image.png" alt="..." />
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>November 2021 </h4>
            <h4 class="subheading">Our humble beginnings</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">"Recrutment Management System "was created on November 14, 2021 by Maryam Mokdad,
              Hanin Ben Jemaa and Nour Guerfali with the desire to facilitate the hiring process for candidates
              and the recruiter, he gets faster.
              In a world where there are several steps to follow for a single recruitment. All these steps
              take a lot of your HR manager's time. the correction of an announcement can be made
              directly as soon as the error is noticed.
              Maryam Mokdad, Hanin Ben Jemaa and Nour Guerfali put their skills and all their energy to
              satisfy your needs
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/6.jpg" alt="..." /></div>
                <img style="height: 500px;width: 570px;margin-right: 0px; padding-right: 63px;" src="../../assets/photos/image3.png" alt="..." />
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2021</h4>
                        <h4 class="subheading">Why develop this RMS </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Cut down on routine tasks like scheduling interviews by automating your recruiting software and free up your schedule for more urgent activities. Online recruitment management systems create a single application process for job seekers. Using an Applicant Tracking System (ATS) and Applicant Relationship Management (CRM) software, a recruiter can increase their client database and provide a better overall experience for applicants.</p></div>
                </div>
        </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be part
            <br />
            Of our
            <br />
            History !
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>
