  <!-- About-->
  <section class="page-section bg-light" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">A propos</h2>
            <h3 class="section-subheading text-muted">Votre satisfaction notre objectif</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Nov 2021 </h4>
                        <h4 class="subheading">Nos humbles débuts</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">"Recrutment Management System" a été créée en 14 Novembre 2021 par Maryam Mokdad, Hanin Ben Jemaa et Nour Guerfali avec l’envie de faciliter le processus d’embauche pour les candidats(e)s et le recruteur, il devient plus rapide .
                      Dans un univers où il existe plusieurs étapes à suivre pour un seul recrutement. Toutes ces étapes prennent beaucoup de temps à votre responsable RH. la rectification d’une annonce peut se faire directement dès que l’erreur est remarquée.
                      Maryam Mokdad, Hanin Ben Jemaa et Nour Guerfali ont mis leurs compétences et toute leur énergie pour satisfaire vos besoins</p></div>
                </div>
            </li>

            <!-- <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li> -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                      Faire Partie
                        <br />
                        De Notre
                        <br />
                        Histoire!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- Team-->
<section class="page-section bg-light" id="team">
<div class="container">
<div class="text-center">
  <h2 class="section-heading text-uppercase">Nos formidables équipes</h2>
  <h3 class="section-subheading text-muted">un groupe engagé pour la réussite de ses clients </h3>
</div>
<div class="row">
  <div class="col-lg-4">
      <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/Teams/Nour.jpg" alt="..." />
          <h4>Nour Guerfali</h4>
          <p class="text-muted">Développeur</p>
          <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/nourguerfali8?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/nour.guerfali.5"><i class="fa fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/nour-guerfali-024a3b225"><i class="fa fa-linkedin fa-lg"></i></a>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/Teams/Maryam.jpg" alt="..." />
          <h4>Maryam Mokded</h4>
          <p class="text-muted">Développeur</p>
          <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/mokdedmaryam?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mar.yaam.376043/"><i class="fa fa-facebook-f"></i></a>
         <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/mokded-maryam-459392223"><i class="fa fa-linkedin fa-lg"></i></a>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/Teams/Hanin.jpg" alt="..." />
          <h4>Hanin Ben Jemaa</h4>
          <p class="text-muted">Développeur</p>
          <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/hanin_ben_jemaa?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100010086006921"><i class="fa fa-facebook-f"></i></a>
         <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ben-jema%C3%A0-hanin-294ba11a5"><i class="fa fa-linkedin fa-lg"></i></a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Notre engagement qualité est orientation stratégique qui a comme objectif d’assurer la satisfaction de nos clients, et le développement de la pérennité de notre entreprise.</p></div>
</div>
</div>
</section>


