
<div class="header"></div>

<app-navbar (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'"></app-navbar>
<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Our job offers</h2>
      </div>
      <div *ngIf="nb != null ; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="row" >
            <div style="position: inherit !important;" *ngFor="let offer of offers" class="col-lg-4 col-sm-6 mb-4" (click) ="onOpenDialog(offer)" >
              <div class="portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" style="position: inherit !important;">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content" style="position: inherit !important;">
                            <i class="fas fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img class="img-fluid" src="../../assets/images.png" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">{{offer.titre}}</div><br>
                      <div class="portfolio-caption-subheading text-muted">{{offer.description | slice:0:50}}...</div>
                  </div>
              </div>
          </div>
      </div>
      </ng-template>
      <ng-template #elseBlock>
        <br><br>
        <div class="alert alert-warning"  id="AlertWarnning" role="alert" style="margin-bottom: 300PX;">
          <h3>Warning</h3>
           We don't have offers now  <strong>check it later!</strong>
        </div>
      </ng-template>

    </div>
</section>

