#card-Table{
  padding-left: 97px;
  padding-right: 66px;
  padding-top: 27px;
  padding-bottom: 20px;
}
th{
  color: #ea4542;
  font-size: large;
  padding-left: 40px !important;
  padding-bottom: 15px !important;
  font-family: Comic sans ms;
}
td{
  padding-left: 35px !important;
  padding-top: 15px !important;
}

#alignement{
  padding-left: 90px !important;
}

#formSearch{
  width: 300px !important;
}
#inputSearch{
  padding-left: 50px !important;
  font-size: 15px !important;
}
#search{
  display: grid;
  grid-template-columns: 250px auto;
}
#btnAddSearch{
  display: grid;
  grid-template-columns: 250px auto;
  margin: 30px 180px 0px;
}

#formSearch{
margin: 20px;
}

.mat-input-element {
  caret-color: #ea4542 !important;
}

#AlertSucces{
  color: green;
  background-color: #d4edda;
  padding: 20px;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

#btn{
  background-color: #ea4542;
  color: wheat;
  font-size: 20px;
  margin-left: 600px;
}

#LienDetails:hover{
  text-decoration: tomato wavy underline;
  cursor: pointer;

  }


#entete-Table{
  color: #ea4542;
  font-family: comic sans ms;
  font-size: 15px;
}

.card{
  box-shadow:0 0 70px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
}
#title-Table{

  border-radius: 10px;
  background-color: #ea4542;
  margin-left: 20px !important;
  margin-right: 20px !important;
  bottom: 29px;
  margin-top: 14px;
  color: aliceblue;
}

a{
  cursor: pointer;
}

table.table td a.update {
	color: #FFC107;
}

table.table td a.delete {
	color: #F44336;
}


#titre{
  font-size: 31px;
  font-family: comic sans ms;
}
