#card-Table{
  padding-left: 97px;
  padding-right: 66px;
  padding-top: 27px;
  padding-bottom: 20px;
}

#AlertSucces{
  color: green;
  background-color: #d4edda;
  padding: 20px;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 150px;
}

#btn{
  background-color: #ea4542;
  color: wheat;
  font-size: 20px;
  margin: 20px;
  margin-left: 1187px;
}

#LienDetails:hover{
  text-decoration: tomato wavy underline;
  cursor: pointer;

  }


#entete-Table{
  color: #ea4542;
  font-family: comic sans ms;
  font-size: 15px;
}

.card{
  box-shadow:0 0 70px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
}
#title-Table{

  border-radius: 10px;
  background-color: #ea4542;
  width: 1170px;
  left: 13px;
  bottom: 29px;
  margin-top: 14px;
  color: aliceblue;
}

a{
  cursor: pointer;
}

table.table td a.update {
	color: #FFC107;
}

table.table td a.delete {
	color: #F44336;
}


#titre{
  font-size: 31px;
  font-family: comic sans ms;
}
