        <div class="modal-body" *ngIf="OneOffer">

          <div mat-dialog-title id="dialog-title">
  <div>
    <h2 >{{OneOffer.titre}}</h2>
  </div>
  <div><button id="IconClose" (click)="onClose()"><i class="fas fa-times"></i></button></div>
</div>

<div id="dialog-offre">
    <div class="container">

          <p class="item-intro text-muted" id="contenuPost">Description : {{OneOffer.description}}</p>

          <ul class="list-inline" id="contenuPost">
            <li>Date : {{OneOffer.date  | date: 'medium' }}</li>
            <li>Nombre de post à pourvoir : {{OneOffer.nbPost}}</li>

          </ul>
          <div id="action">
               <button type="button" (click)="onClose()"  id="btnClose" class="btn btn-danger">Close</button>
               <button type="button" (click)="onPostuler()" id="btnClose" class="btn btn-info">Apply</button>
          </div>
        </div>
      </div>
    </div>
