<app-navbar></app-navbar>
<!-- Team-->
<section class="page-section bg-light" id="team">
  <div class="container">
  <div class="text-center">
    <h2 class="section-heading text-uppercase">Our Team </h2>
    <h3 class="section-subheading text-muted" id="parag">A group committed to the success of its customers</h3>
  </div>
  <div class="row">
    <div class="col-lg-4">
        <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/Teams/Nour.jpg" alt="..." />
            <h4>Nour Guerfali</h4>
            <p class="text-muted" id="parag">Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/nourguerfali8?utm_medium=copy_link"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/nour.guerfali.5"><i class="fab fa-facebook-f fa-lg"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/nour-guerfali-024a3b225"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/Teams/Maryam.jpg" alt="..." />
            <h4>Maryam Mokded</h4>
            <p class="text-muted" id="parag">Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/mokdedmaryam?utm_medium=copy_link"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/mar.yaam.376043/"><i class="fab fa-facebook-f fa-lg"></i></a>
           <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/mokded-maryam-459392223"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../assets/Teams/hanin1.jpg" alt="..." />
            <h4>Hanin Ben Jemaa</h4>
            <p class="text-muted" id="parag">Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/hanin_ben_jemaa?utm_medium=copy_link"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100010086006921"><i class="fab fa-facebook-f fa-lg"></i></a>
           <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ben-jema%C3%A0-hanin-294ba11a5"><i class="fab fa-linkedin fa-lg"></i></a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Our quality commitment is a strategic orientation, the objective of which is to ensure the satisfaction of our customers, and the development of the sustainability of our company.</p></div>
  </div>
  </div>
  </section>
