     <body>
       <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    
  <!-- Content Header (Page header) -->
  <section class="content-header">

         <div class="container" [hidden]="submitted">
             <h1>Formulaires</h1>
             <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
                 <div class="form-row">
                     <div class="col-md-4 mb-3">
                         <label for="prenom">Id</label>
                         <input type="text" class="form-control"  id="idUser" required [(ngModel)]="employee.idUser" name="idUser">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     <div class="col-md-4 mb-3">
                         <label for="nom">Nom </label>
                         <input type="text" class="form-control" id="nom" required [(ngModel)]="employee.nom" name="nom">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     <div class="col-md-4 mb-3">
                         <label for="pseudo">Prenom</label>
                         <input type="text" class="form-control" id="prenom" required [(ngModel)]="employee.prenom" name="prenom">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                 </div>
                 <div class="form-row">
                     <div class="col-md-6 mb-3">
                         <label for="ville">Email</label>
                         <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     <div class="col-md-3 mb-3">
                         <label for="pays">Cin</label>
                         <input type="number" class="form-control" id="cin" required [(ngModel)]="employee.cin" name="cin">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>
                     <div class="col-md-3 mb-3">
                         <label for="cp">adress</label>
                         <input type="text" class="form-control" id="adress" required [(ngModel)]="employee.adress" name="adress">
                         <div class="valid-feedback">Ok !</div>
                         <div class="invalid-feedback">Valeur incorrecte</div>
                     </div>

                     <div class="col-md-3 mb-3">
                      <label for="cp">Telephone</label>
                      <input type="number" class="form-control" id="tel" required [(ngModel)]="employee.tel" name="tel">
                      <div class="valid-feedback">Ok !</div>
                      <div class="invalid-feedback">Valeur incorrecte</div>
                  </div>

                  <div class="col-md-3 mb-3">
                    <label for="cp">Password</label>
                    <input type="number" class="form-control" id="pwd" required [(ngModel)]="employee.pwd" name="pwd">
                    <div class="valid-feedback">Ok !</div>
                    <div class="invalid-feedback">Valeur incorrecte</div>
                </div>
                 </div>
                 <div class="form-group">
                     <div class="form-check">
                       <input class="form-check-input" type="checkbox" value="" id="cgu" required>
                       <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation et de vente</label>
                       <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
                     </div>
                 </div>
                 <button class="btn btn-primary" type="submit">Envoyer</button>
             </form>
         </div>

        </section>
        <!-- /.content -->
        </div>

         <div [hidden]="!submitted">
          <h4>You submitted successfully!</h4>
           <!-- <button class="btn btn-success" (click)="employee"></button>  -->
        </div>

         <script>
           /*La fonction principale de ce script est d'empêcher l'envoi du formulaire si un champ a été mal rempli
            *et d'appliquer les styles de validation aux différents éléments de formulaire*/
           (function() {
             'use strict';
             window.addEventListener('load', function() {
               let forms = document.getElementsByClassName('needs-validation');
               let validation = Array.prototype.filter.call(forms, function(form) {
                 form.addEventListener('submit', function(event) {
                   if (form.checkValidity() === false) {
                     event.preventDefault();
                     event.stopPropagation();
                   }
                   form.classList.add('was-validated');
                 }, false);
               });
             }, false);
           })();
         </script>

