ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-valid:not(form)  {
    border-left: 5px solid white; /* red */
  }

  #modal-title{
    color: #ea4542;
    transform: translateX(-500px);
    animation: fadeIn 1.5s;
    animation-fill-mode: forwards
  }
  .form-control.ng-touched.ng-invalid {
    border:1px solid rgb(238, 28, 28);
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid rgb(9, 211, 9);
   }
  
  .ContenuCard{
    width: 500px;
  }
  
  #btnAddComp:hover{
    text-decoration: blue underline;
    color: blue;
    font-weight: bold;
  }
  
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-500px)
    }
  
    100% {
        opacity: 1;
        transform: translateX(0px)
    }
  }
  