
 <div class="ContenuCard"  >
    <div class="modal-header">
        <h1 id="modal-title"><b>Questionnaire </b></h1>
<div>
  <button id="IconClose" (click)=" closeDetails()"><i class="fas fa-times"></i></button>
    </div><br>

</div>
<br>
<div >
<!-- <div class="form-group">
        <label>ID : </label> {{interview.id_Interview}}
</div> -->
<div  class="form-group text-center">
    <label>Questionnaire :</label>
    <div *ngFor="let interview of questionnaireList">
      <span id="question"> {{interview.question!.question}} </span>
    </div>

</div>
</div>
<div style="text-align: center;">
    <button (click)="closeDetails()" class="btn btn-success">Close Questionnaire Details</button>
</div>
</div>


