#modal-title{
    color: #2caf8e;
    font-family: comic sans ms;


  }
  .ContenuCard{
    width: 500px;
  }
  #IconClose{
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 35%;
  }
